.header {
  color: #2b2b2b;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.subheader {
  color: #2b2b2b;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 156.25% */
}

.contact-form-container {
  position: relative;
  width: 73.188rem;
  height: 57.375rem;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}

.contact-form-container img {
  z-index: -10;
  display: block;
}

.contact-form-container:hover {
  background-color: rgba(13, 23, 48, 0.52);
}

.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47.125rem;
  flex-direction: column;
  padding: 88px;
  gap: 20px;
  border-radius: 6px;
}

.form-input {
  height: 4.938rem;
  background-color: transparent;
  border-radius: 12px;
  padding: 0 20px;
  border: 1px solid var(--secondary, #fe872e) !important;
  font-size: 24px;
  opacity: 1;
}

.form-input::placeholder,
.text-field::placeholder {
  color: #fe872e !important;
  font-size: 24px;
}

.submit-button {
  border-radius: 18px;
  border: 1px solid var(--secondary, #fe872e);
  box-shadow: 0px 10px 20px 0px #26262659;
  background-color: transparent;
  color: #fe872e;
  display: flex;
  font-size: 20px;
  width: 144px;
  height: 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.text-field {
  width: 100%;
  padding: 20px;
  height: 205px;
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--secondary, #fe872e);
}
