.hero-image {
  height: 35.313rem;
}

.text-center {
  position: absolute;
  min-width: 64.438rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center h3 {
  color: #f9fafb;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}

.text-center span {
  font-weight: 600;
}

.hero-image-dimensions {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
