.service-grid {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service-element {
  position: relative;
  width: 570px;
  height: 318px;
  flex-shrink: 0;
  overflow: hidden;
}

.service-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper {
  margin-top: 5.625rem;
}

.wrapper-1 {
  margin: 8.75rem 0;
}

.centered-text {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #f9fafb;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.image-heading {
  text-align: center;
  color: #f9fafb;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}

.service-element:hover .hover-text {
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.4);
}

.hover-text .text-translate {
  transform: translateY(4rem);
}
.service-element:hover .text-translate {
  transition-duration: 1s;
  transform: translateY(0rem);
}

.categories-container {
  margin-top: 8.75rem;
}

.z-99 {
  z-index: 99999;
}
