.contact-container {
  background-repeat: no-repeat;
  background-color: #0D1730;
  height: 25.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.contact_button {
  margin: 4px 0;
  width: 10.625rem;
  height: 3.438rem;
  color: var(--secondary, #fe872e);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 30px */
  letter-spacing: 0.48px;
  background-color: transparent;
  border-width: 1px;
  border-color: #fe872e;
  border-radius: 8px;
}

.contact-image-container img {
  object-fit: cover;
  height: 25.75rem;
  width: 100%;
}

.wrapper-3{
  margin : 3.563rem 0 0 0;
}

.contact-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
