.contact-container{
  background-image: url('../../../assets/Images/contactImage.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 25.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_text{
  color: #FFF;
  text-align: center;
  font-family: "Raleway",sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.contact_button{
  margin: 4px 0;
  width: 10.625rem;
  height:3.438rem;
  color: var(--secondary, #FE872E);
  text-align: center;
  font-family: "Outfit",sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 30px */
  letter-spacing: 0.48px;
  background-color: transparent;
  border-width: 1px  ;
  border-color: #FE872E;
  border-radius: 8px;
}