.link_container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 0;
}

.List_container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 0;
}
