.heading-translate{
  animation: heading-animate 300ms linear  ;
}

@keyframes heading-animate {
    0%{
      transform: translateY(-5rem);
    }
    100%{
      transform: translateY(0rem);
    }
}

.subheading-translate{
  animation: subheading-animate 1s linear  ;
}

@keyframes subheading-animate {
    0%{
      transform: translateX(-5rem);
      opacity: 0;
    }
    100%{
      transform: translateX(0rem);
      opacity:1;
    }
}