.header_container {
  width: 100%;
  height: 5.188rem;
  background-color: rgba(13, 23, 48, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0rem;
  left: 0;
  z-index: 99;
  font-size: 18px;
}

.logo_heading {
  color: #f9fafb;
  text-align: center;
  font-family: "Jost",sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.basis_half {
  width: 50%;
}

nav a {
  color: #fff;
  font-family: "Outfit",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 18px;
  margin: 0 1.25rem;
}
