.grid-container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-element {
  position: relative;
  overflow: hidden;
}

.grid-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper {
  margin-top: 5.725rem;
}
.width_84 {
  width: 84%;
}

.centered-text {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.feature-work {
  color: #2b2b2b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0 4px 0 0;
}

.best-categories {
  color: #2b2b2b;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  padding: 0 0 0 12px;
  margin: 0 5px 0 0;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #f9fafb;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.hover-text:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.hover-text .text-translate {
  transform: translateY(4rem);
}
.hover-text:hover .text-translate {
  transform: translateY(0rem);
}

.categories-container {
  margin-top: 8.75rem;
}

.z-99{
  z-index: 99999;
}
