.feature-work {
  color: #2b2b2b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0 4px 0 0;
}

.best-categories {
  color: #2b2b2b;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  padding: 0 0 0 12px;
  margin: 0 5px 0 0;
}

