.grid_container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid_element {
  position: relative;
  overflow: hidden;
}

.grid_element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5em;
}