.carousel_container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.hero_image_container {
  width: 100%;
  height: 49.313rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: cover;
}
.hero_image_container img {
  width: 100%;
  height: 49.313rem;
  object-fit: cover;
}

.hero_textContainer {
  width: 51rem;
  height: 114px;
  color: #f9fafb;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  
}

.hero_textContainer p {
  line-height: 60px !important;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  text-align: center;

}
.carousel-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #FFD0AD69;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #FE872E;
}

@media only screen and (max-width: 768px) {
  .hero_textContainer {
    font-size: 36px;
  }
}

@media only screen and (max-width: 480px) {
  .hero_textContainer {
    font-size: 24px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }
}