.hero_image_container{
  background-image: url(../../assets/heroImage_01.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 49.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_textContainer{
  width: 51rem;
  height: 114px;
  color: #F9FAFB;
  text-align: center;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px !important;
}

.hero_textContainer p {
  line-height: 60px !important;

}
