.quote_container{
  background-image: url('../../../assets/Images/QuoteImage.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 25.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_text{
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.text_width{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.author_text{
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}