.quote-container{
  width: 100%;
  height: 25.75rem;
}
.quote-container img {
  height: 25.75rem;
  width: 100%;
}
.contact-text{
  color: #FFF;
  text-align: center;
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.text-width{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.author-text{
  color: #FFF;
  text-align: center;
  font-family: Raleway,sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}