.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fe872e;
  border-radius: 50%;
  margin-right: 12px;
}

.icon_size {
  width: 18.545px;
  height: 20.449px;
  flex-shrink: 0;
}

.blurb_text{
  color:white;
}
