.Box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 26.125rem;
  }
  
  h5 {
    margin-bottom: 2rem;
  }
  
  .icon {
    fill:#FE872E;
    height: 20px;
    width: 20px;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 26.125rem;
}


.mail_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}