.list_container {
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.link_container {
  width: 100%;
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.icons {
  width: 18.409px !important;
  height: 15.682px !important;
  fill: white;
  flex-shrink: 0;
  transform: rotate(90deg);
}
