.list_container {
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.link_container {
  width: 100%;
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.arrow {
  width: 12.997px;
  height: 12.997px;
  transform: rotate(-90.012deg);
  background: var(--secondary, #FE872E);
  flex-shrink: 0;
}
