.work-container {
  width: 73.25rem;
  height: 39.438rem;
  margin-top: 5rem;
  position: relative;
  flex-shrink: 0;
}
.latest-work {
  width: 73.25rem;
  height: 35.563rem;
}
.image-size {
  width: 73.25rem;
  height: 35.563rem;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab-container {
  position: absolute;
  padding: 0 30px 0 30px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 64.25rem;
  height: 11.563rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
}

.img-container {
  width: 56.688rem;
  text-wrap: nowrap;
  height: 114px;
  color: #f9fafb;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  padding: 10px 20px;
  border-radius: 5px;
}

.img-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.tab-name {
  color: rgba(13, 23, 48, 0.6);
  text-align: left;
  font-family: "Outfit",sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px; /* 129.167% */
}

.tab-author {
  color: rgba(0, 0, 0, 0.38);
  font-family:"Outfit",sans-serif;
  padding-left: 8px;
  padding-top: 4pxgut;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 31px;
}
