.work-container {
  width: 73.25rem;
  height: 35.563rem;
  position: relative;
  flex-shrink: 0;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab-container {
  position: absolute;
  padding: 0 30px 0 30px ;
  left: 72px;
  bottom: -62px;
  width: 64.25rem;
  height: 11.563rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
}

.img-container {
  width: 56.688rem;
  height: 114px;
  color: #f9fafb;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Raleway",sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  padding: 10px 20px;
  border-radius: 5px;
}

.img-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
