.philosphy_container{
  /* width: 73.063rem; */
  margin: 8.813rem 0 8.75rem 0;
}
.intro-tab{
  width: 35.625rem;
  row-gap: 30px;
}

.heading-container{
  width: 73.063rem;
  margin-bottom:5rem;
  row-gap: 30px;
}

.image-container{
  width: 35.625rem;
  height:44.438rem;
}

.philosphy-heading {
  color: #2b2b2b;
  font-family: "Raleway",sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.philosphy-blurb {
  color: #2b2b2b;
  font-family: "Outfit",sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
}
.intro-text {
  color: #2b2b2b;
  /* Body text */
  font-family: "Outfit",sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px; /* 187.5% */
}
.intro-heading {
  color: #242424;
  font-family: "Outfit",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 90% */
  gap: 40px;
}

.gap-30{
  gap: 30px;
  row-gap: 30px;
}

.gap-40{
  gap: 40px;
  row-gap: 30px;
}