.philosphy_heading {
  color: #2b2b2b;
  font-family: "Raleway";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.philosphy_blurb {
  color: #2b2b2b;
  font-family: "Outfit";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
}
.intro-text {
  color: #2b2b2b;
  /* Body text */
  font-family: "Outfit";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px; /* 187.5% */
}
.intro-heading {
  color: #242424;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 90% */
  gap: 40px;
}
.pt_8 {
  padding-top: 8px;
}

.pb_8 {
  padding-bottom: 8.75rem;
}

.pb_4 {
  padding-bottom: 4rem;
}

.pr_1{
  padding-right: 1rem;
}


.psContainer_width {
  width: 73.063rem;
}
