.footer_container {
  height: 25.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1730;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 70%;
}

.arrow {
  width: 12.997px;
  height: 12.997px;
  transform: rotate(-90.012deg);
  outline: var(--secondary, #FE872E);
  flex-shrink: 0;
}