.footer_container {
  height: 25.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1730;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 70%;
}
